// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
// ==================== start eigen code ==================
// hier boven staat code wat al aanwezig was vanaf het 
// begin. 
// 
// ==================== start eigen code ==================
.namespace{
    text-align: center;
    padding: 0;
}
.namespace>h1{
    color:#000;
}
h1{
    background-color: #e9ecef;
    color:black;
}
a{
    color: #212529;
}
// ================== main text onder header================
.jumbotron{
    font-weight: bolder;
    font-size: large;
}
.jumbotron h1{
    font-size: 2.25rem;
}
.main{
    display: flex;
    align-items: center;
}
.row{
    text-align: center;
    display: flex;
    justify-content: center;
    
}
// ================== list handleidingen ===============
.col-md-8 > .container > .row{
    background: #e9ecef;
    margin-top: 20px;
    text-align: left;
}
// list h2 
.col-md-8 > .container > .row > .col-md-4 > h2{
    text-align: center;
}

// sub-list type nummers
.col-md-8 > .container > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// ================== footer css =======================
.row footer {
    background-color: #343a40 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// even wijdige verdeling van de divs binnen de footer
footer > .container{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
}
footer > .container > .socials{
    display: flex;
    flex-flow: column;
}
footer  > .container > .contactinfo > ol > li{
    list-style: none; 
}
footer  > .container > .contactinfo > h7{
    text-align: center;
}
footer > .container > .socials > a{
    font-size: xx-large;
    text-align: center; 
}
footer h7{
    font-size: larger;
}
// socials-icons styling 
footer > .container > .socials > .social-icons {
    margin-bottom: 25px;
}
footer > .container > .socials > .social-icons > a > i{
    size: 100%;
}
// copyright background styling
footer > .container > .socials > .copyright > p{
    padding: 5px 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #000;
}

// =============================== clock styling ======================================
body {
    // background: url('computerIMGedit.jpg');
    color: #000;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #e6967e;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 7px;
    transition: 0.5s;
   


}
.clock:hover {
     transform: translateY(-10px);
     transition: 0.5s;
     font-size: 80px;
     color: whitesmoke;
}
// =============================== download link button styling ======================================
.container > .row > .col-md-8 > .button-styling {
    transition-duration: 0.4s;
    border: 2px solid #555555;
    margin-bottom: 25px;
    text-decoration: none;
}
      
.container > .row > .col-md-8 > .button-styling:hover, .container > .row > .col-md-8 > .button-styling:hover a {
    background-color: #555555;
    color: white;  
    text-decoration: none;
}

// =============================== download link button styling ======================================
.top10-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    width: 100%;
}
ul{
    background: #e9ecef;
}